# File: /.htaccess

# Allow direct access to IPN handler
RewriteRule ^ipn_handler\.php$ - [L]
RewriteEngine On

# If the request is not for a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Route everything through index.php
RewriteRule ^(.*)$ index.php [QSA,L]